@font-face {
font-family: 'GeometryDash';
src: url('Letras.otf') format('opentype');
}



*{
text-decoration: none;
font-family: GeometryDash;
}


.Opt {
    text-align: center;
}

.Musc {
    text-align: center;
}