@font-face {
font-family: 'GeometryDash';
src: url('Letras.otf') format('opentype');
}



*{
text-decoration: none;
font-family: GeometryDash;
}



.Opt{
    text-align: center;
    color: #0000;
    bottom: 30px;
}



@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.Musc {
    text-align: center;
}